5x_60ind_MeanImputed.tab
AgeCohort_SNPs_variant_final.vcf.gz
genecounts_cpm.csv
unfiltered_genecounts.csv
5x_50ind_manualFilt.tab
Code_Data/ASM223467v1.fa
Code_Data/ASM223467v1.gff
DSS/allSamples_Covg_5x_50L.tab